<div class="side">
  <%# ユーザー情報 %>
  <div class="user-box">
    <div class="user-box__name">
      <span><%= current_user.name %>
    </div>
    <div class="user-box__action">
      <div class="user-box__action__post">投稿
      </div>
      <div class="user-box__action__logout">
        <%= render partial: "form" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
  <div class="lists">
    <div class="list">
      <h1>当サイトの目的</h1>
      <h2>ご自身の旅行の記録や</h2>
      <h2>日記としてご活用下さい</h2><br>
    </div>
  </div>
</div>