<div class="wrapper">
  <div class="destroy-main">
    <div class="destroy-box">
      <div class="destroy-text">変更を保存しました。</div>
      <div class="destroy-toppage">
        <%= link_to 'トップページに戻る', "/" %>
      </div>
    </div>
  </div>
</div>