.wrapper{
  border: none;  
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  height: calc(100vh);
  width: calc(100vw);
  overflow: hidden;
}
  
  
.side{
  width: 200px;
  height: calc(100vh);
  background-color: #F9FFF3;
  border-right: 2px solid black;
  
  .user-box{
    height: 100px;
    background-color: #F9FFF3;
    border-bottom: 2px solid black;
    &__name{
      height: 20px;
      width: 200px;
      text-align: center;
      
      margin-bottom: 20px;
      span{
        display: block;
        margin-top: 15px;
      }
    }

    &__action{
      height: 30px;
      width: 300px;
      display: flex;
      margin-bottom: 20px;
      margin-left: 2px;
      &__post{
        height: 30px;
        width: 50px;
        line-height: 30px;
        font-size: 14px;
        cursor: pointer;
        border: solid 1px black;
        margin-right: 30px;
        margin-left: 5px;
        text-align: center;
        background: red;
        color: #fff;
      }
      &__logout{
        height: 30px;
        width: 100px;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        border: solid 1px black;
        cursor: pointer;
        background: red;
        a{
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  .list{
    background-color: #F9FFF3;
    height: calc(100vh);
    overflow: scroll;

    .list__title{
      background-color: yellowgreen;
      margin: 10px;
      width: 200px;
      height: 30px;
    }
    text {
      color: red;
      white-space:nowrap;
      overflow:hidden;
      visibility:hidden;
    }
  }
}

.main{
  width: calc(100vw - 200px);
  height: calc(100vh);
  .upper-content{
    background-color: #F9FFF3;
    height: 450px;
    display: flex;
  }

  .slider{
    width: 100%;
    height: 100%;
    display: flex;
    &__item{
      height: 450px;
      width :100%;
    }
  }








  .under-content{
    background-color: green($color: #000000);
    height: calc(50vh);

    .contents{
      padding: 5px 10px 5px 10px;
      height: 100%;
      display: flex;
      background-color: rgb(189, 247, 247);
      overflow: scroll;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;

      .show-content{
        margin-right: 10px;
        height: 240px;
        width: 298px;
        background-color: rgb(241, 235, 222);
        display: inline-block;
        border-radius: 5%;
        .content__image{
          margin-left: 3px;
          height: 30px;
        }
        .content__title{
          margin-top: 5px;
          height: 33px;
          font-size: 18px;
          overflow: hidden;
          color: black;
        }
      }
    }
  }
}
