// ポップアップのcss
.user-box__action__post{

  .popup-overlay{
    /*Hides pop-up when there is no "active" class*/
    visibility:hidden;
    position:absolute;
    background:rgba(0, 0, 0, 0.5);
    width:100%;     //画面全体覆う
    height:100%;   //画面全体覆う
    z-index: 1;    //浮かせる
    position: fixed; //固定する
    top: 0;
    left: 0;

  }
  .popup-overlay.active{
    /*displays pop-up when "active" class is present*/
    visibility:visible;
    text-align:center;
  }
  
  .popup-content {
    /*Hides pop-up content when there is no "active" class */
   visibility:hidden;
   background-color: #FCD69E;
   position: absolute;
   width: 700px;
   height: 630px;
   top: 5%;
   left: 26.5%;
   border-radius : 2%;
  }
  
  .popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility:visible;
  }
  
  button{
    height: 30px;
    width: 33px;
    // float: left;
    text-align: auto;
    display:inline-block;
    vertical-align:middle;
    border-radius:40px;
    margin:.20rem;
    font-size: 1rem;
    color:#666666;
    background:	#ffffff;
    border:1px solid #666666;  
  }
  
  button:hover{
    border:1px solid #666666;
    background:#666666;
    color:#ffffff;
  }
}

// form内の内のcss
.form{
  width: 100%;
  height: 100%;
  // margin: 30px 1.1rem 10px 1.1rem;
}

.content{
  width: 465px;
  height: 630px;
  margin: 15px 1rem 10px 7.5rem;
}

.content-title{
  height: 35px;
  width: 465px;
  border-radius: 8px;

}

.form-box{
  display: flex;
  margin-top: 15px;
}

select {
 height: 40px;
 width: 250px;
 border-radius: 10px;

}

.content-image{
  height: 50px;
  width: 100px;
  font-size: 3.5rem;
  color: #000066;
  cursor: pointer;
  display: inline-block;

  .file{
    display: none;
  }
}

.content-text{
  height: 400px;
  width: 465px;
  margin-top: 15px;
  font-size: 18px;
  border-radius: 10px;



}

.content-submit{
  width: 465px;
  margin-top: 10px;
  display       : inline-block;
  border-radius : 10px;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #000066;    /* 枠の指定 */
}
.content-submit:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


