.show__main{
  height: 100%;
  width: 100%;
  padding: 20px 12rem 10px;
  background-image: image-url('bg.png');

}

.show__content{
  // padding: 100px;
  background-image: image-url('note.png');
  background-size: contain;                 /* 画像のサイズを指定    */
  width: 1057px;                      /* 横幅のサイズを指定    */
  height: 660px;
  display: flex;
}


// 左側
.show-left{
  width: 460px;
  margin: 20px 49px 15px 20px;
  
}

.show-left__top{
  margin-top: 40px;
  display: flex;
  height: 40px;
  width: 100%;
  font-size: 20px;
  line-height: 40px;

  .show-created{
    font-weight: bold;
    margin-right: 200px;
  }

  .show-prefectues{
    font-weight: bold;
  }
}

.show-title {
  width: 100%;
  margin-top: 20px;
  font-size: 30px;
  border-bottom: 0.5px solid black;
  border-top: 0.5px solid black;
  word-break: break-all;
}

.show-image{
  margin-top: 40px;
}



// 右側
.show-right {
  width: 50%;
  margin: 20px 20px 15px 45px;
  overflow: scroll;
}

.show-text{
  margin-top: 40px;
  width: 100%;
  font-size: 18px;
  word-break: break-all;
  .text{
    padding: 10px;
    display: block;
    overflow: scroll;
  }
}

.show-box{
  display: flex;
  height: 100px;
  width: 100%;
  margin-top: 100px;
  

  .show-edit{
    background-image: image-url('tag.png');
    width: 185px;
    height: 50px;
    margin-right: 30px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: navy;
  }

  .show-edit:hover{
    color: gray;
  }
}

.show-toppage{
  margin-bottom: 30px;
  a{
    color:#e70606;
    text-decoration: none;
  }

  a:hover{
    color: rgb(204, 151, 166);
  }

}
