.edit_content{
  display: flex;
}

.edit-created {
  width: 50%;
}

.edit_prefectues{
  margin-top: 10px;
  select {
    margin-top: 10px;
    width: 100px;
    height: 40px;
  }
}

.edit-title{
  margin-top: 20px;
  width: 465px;
  height: 35px;
  border-radius: 8px;
}

.edit-right{
  width: 50%;
  margin: 20px 20px 15px 41px;
  overflow: hidden;
}

.edit-box{
  margin-top: 10px;
  margin-bottom: 20px;
}

.edit-toppage{

}