.to_login{
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color:navy;
  a{
    text-decoration: none;
  }
}
.to_login:hover{
  color: rgb(118, 118, 238); 
}



.to_sgin-up{
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color:navy;
}
.to_sgin-up:hover{
  color: rgb(118, 118, 238); 
}



.to_pass{
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  color:navy;
}
.to_pass:hover{
  color: rgb(118, 118, 238); 
}

